<!DOCTYPE html>
<html>
    <head>
        <title>SK Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Shruti Kant Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">India stops import of laptops with immediate effect</a></h2>
            <p>"Import of Laptops, Tablets, All-in-one Personal Computers, and Ultra small form factor Computers and Servers falling under HSN 8741 shall be 'Restricted' and their import would be allowed against a valid License for Restricted Imports," the notice said.

The move has been announced with an aim to promote domestic manufacturing of these products under the recently renewed production-linked incentive (PLI) scheme for IT hardware.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Chandrayaan-3 update | Indian spacecraft to enter Moon's sphere of influence</a></h2>
            <p>The Indian Space Research Organisation's (Isro) Chandrayaan-3 mission is set to make a significant achievement in space exploration as it enters the Moon's sphere of influence on August 5.

This marks a crucial phase in the mission, which aims to demonstrate a safe and soft landing on the lunar surface, roving on the moon, and conducting in-situ scientific experiments.

The Chandrayaan-3 mission was launched on July 14 and has been gradually boosting its orbit around Earth before making its final journey towards the Moon. The spacecraft's perigee burn has successfully raised its orbit to 288km x 369328 km, positioning it to enter the Moon's sphere of influence..</p>
        </article>
    </body>
</html>